body {
	background-color: black;
	color: white;
	font-family: Helvetica;
}

div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 1px;
}

a:hover, a:active {
	color: white;
	font-weight: bold;
}

.prompt {
}

.choice {
}
